streamlit
langchain
langchain-community
langchain-core
langchain-openai
langgraph
chromadb
protobuf
sentence-transformers
pandas
pydantic
python-dotenv
openai
torch
transformers
peft
pinecone-client
fastapi
uvicorn
